.center img {
    display: block;
    margin: 20px auto 0px;
}

figcaption {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 40px;
}

.full-width {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.full-width img {
    width: 100% !important;
    max-width: 100% !important;
}